.objectiveTextColor {
  color: gray;
}

.thumbnail {
  background-color: black;
  width: 100px;
  height: 100px;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
}
